<div>
    <h2 id="page-heading">
        <span jhiTranslate="backofficeApp.notificationNotification.home.title">Notifications</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-notification" [routerLink]="['/notification/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="backofficeApp.notificationNotification.home.createLabel">
            Create new Notification
            </span>
        </button>
    </h2>
    <app-alert></app-alert>
    <br/>
    <div class="table-responsive" *ngIf="notifications">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="date"><span jhiTranslate="backofficeApp.notificationNotification.date">Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="details"><span jhiTranslate="backofficeApp.notificationNotification.details">Details</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sentDate"><span jhiTranslate="backofficeApp.notificationNotification.sentDate">Sent Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="format"><span jhiTranslate="backofficeApp.notificationNotification.format">Format</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userId"><span jhiTranslate="backofficeApp.notificationNotification.userId">User Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let notification of notifications ;trackBy: trackId">
                <td><a [routerLink]="['/notification', notification.id, 'view' ]">{{notification.id}}</a></td>
                <td>{{notification.date | date:'medium'}}</td>
                <td>{{notification.details}}</td>
                <td>{{notification.sentDate | date:'medium'}}</td>
                <td jhiTranslate="{{'backofficeApp.NotificationType.' + notification.format}}">{{notification.format}}</td>
                <td>{{notification.userId}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/notification', notification.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/notification', notification.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'notification', { outlets: { popup: notification.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
